:root {
  --blue: rgb(6, 89, 231);
  --darkblue: rgb(10, 41, 94);
  --lightblue: rgb(67, 127, 232);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --grey: rgb(154, 155, 164);
  --orange: rgb(231, 126, 6);
}
html {
  background-color: var(--black);
}
/* Navigation buttons */
button {
  background-color: var(--darkblue);
  width: 7em;
  height: 4em;
  cursor: pointer;
  border-radius: 15px;
}
/* mouse over to change color */
button:hover {
  background-color: var(--lightblue);
  transform: scale(1.1);
}

.cta-button {
  z-index: 99999;
  flex-wrap: wrap;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-radius: 15px;
  color: var(--white);
  font-weight: bold;
  width: 25%;
  height: auto;
  border-radius: 15px;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  background-image: linear-gradient(to left, rgba(64, 0, 255, 0.719), rgb(218, 80, 0));
  position: relative;
  text-shadow: 1px 1px rgb(0, 0, 161);
}

 .cta-button:hover {
  z-index: 99999;
  cursor: pointer;
  transform: scale(1.1);
  /* background-image: linear-gradient(to right, rgba(38, 0, 255, 0.8), rgba(255, 102, 0, 0.8)); */
 }

/* container for the group pic and text on top of pic  */
.container {
  position: relative;
  text-align: center;
}

/* Div for 'APEX JIU JITSU & MMA */
.text-block {
  width: 90%;
  position: absolute;
  top: 60%;
  left: 50%;
  color: var(--white);
  opacity: 95%;
  transform: translate(-50%, -50%);
  padding-left: 30px;
  padding-right: 30px;
  height: 100%;
}
/* 'APEX JIU JITSU & MMA  */
h1 {
  font-weight: bolder;
  text-align: center;
  font-size: 5em;
  padding: 10%;
  text-shadow:2px 2px var(--black);
  /* background-color: rgba(0, 0, 0, 0.595); */
}
/* navigation bar */
.nav {
  height: 60%;
  width: 100%;
  max-width: 100%;
  text-align: center;
  font-size: larger;
  padding-bottom: 15px;
  padding-top: 15px;
  /* margin-left: -10px;
  margin-top: -10px; */
  /* margin-right: -10px; */
  background-color: var(--black);
}
/* links on nav bar */
.home, .instructors, .programs, .schedule, .contact, .faq, .gallery, .comp{
  color: var(--white);
  text-align: center;
  font-size: 14px;
}
/* Large group image */
.home-image {
  width: 100%;
  /* max-width: 100%; */
  opacity: 80%;
}

/* upper left corner image */
.logo {
  width: 155px;
  max-height: 20%;
  float: left;
  padding-left: 15px;
}
/* for the p text below */
.top-container {
  padding-top: 10%;
  max-width: 40%;
  position: absolute;
  float: left;
  top: 37%;
  left: 33%;
  font-size: 2.552vw;
}

/* The #1 jj academy text */
p {
  color: white;
  z-index: 9999;
  text-align: left;
  margin-top: -220px;
  margin-left: -100px;
  padding-left: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow:2px 2px var(--darkblue);
}

.middle-container {
  padding-top: 10%;
  max-width: 30%;
  position: absolute;
  float: left;
  top: 50%;
  /* left: 10%; */
  font-size: 2.552vw;
}

h4 {
  color: white;
  z-index: 9999;

}

@media (max-width: 600px) { 
  .cta-button {
    font-size: 1rem;     
    margin-top: 17rem;      
    width: 50%;            
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  h1 {
    font-size: 3em;
  }
}


/* .home-pg-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
} */

input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background: var(--blue);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
} 

 input[type=submit]:hover {
  background-color: var(--lightblue);
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999; /* stays above everything */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

/* The form box */
.modal-content {
  background-color: #f2f2f2;
  margin: 8% auto;
  padding: 40px;
  border-radius: 15px;
  width: 70%;
  height: 500px;
  max-width: 700px;
  border: 3px var(--black);
  height: fit-content;
}
/* Close button */
.close {
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

